@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url(snow.gif);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size:cover;
    overflow : hidden;
}
.container{
    padding: 20px 20px;
    color: white;
}
.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.date-container{
    font-weight: 100;
}
.date-container .time{
    font-size: 70px;
    font-weight: 200;
    filter: drop-shadow(5px 5px 6px rgb(36, 36, 36));
   
}
.date-container #am-pm{
    font-size: 30px;
    margin-left: 10px;
    filter: drop-shadow(2px 2px 12px rgb(71, 71, 71));
}
.date-container .date{
    font-weight: 200;
    font-size: 30px;
    filter: drop-shadow(2px 2px 3px rgb(24, 24, 24));
}
.place-container{
    text-align: end;
}
/* search side design */
.place-container input{
    border: 0;
    outline: 0;
    padding: 7px;
    margin-right: 20px;
    border-radius:4px ;
    background:rgba(0, 0, 0, 0.2);
    border: 1px solid #eee;
    color: white;
    font-size: 18px;
    font-weight: 200 !important;
    box-shadow: 2px 2px 6px black;
    /* color: transparent ; */
}
.place-container input ::placeholder{
    color: #eee;
    
}
.place-container .searchbtn{
    border: 0;
    outline: 0;
    border: 1px solid white ;
    color: white;
    border-radius: 10%;
    padding: 5px 12px;
    cursor: pointer;
    background: transparent;
    box-shadow: 2px 2px 6px black;
}
.place-container .city{
    font-size: 30px;
    font-weight: 200;
    margin-top: 20px;
    filter: drop-shadow(2px 2px 3px rgb(24, 24, 24));
}
.place-container .country{
    font-size: 20px;
    font-weight: 700;
}
.current-info .other{
    display: flex;
    flex-direction: column;
    background: rgba(24, 24, 27, 0.6);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #eee;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: 200;
}
.current-info .other .weather-items{
    display: flex;
    justify-content: space-between;
}
.future-forecast{
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background: rgba(24, 24, 27, 0.8); */
    width: 100%;
    overflow-y: hidden;
}
.future-forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 40px;
    padding-right: 40px;
    background: rgba(0, 0, 0, 0.2);
}
.future-forecast .today .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;

}
.future-forecast .today .others .currentD, .currentN{
    font-size: 18px;
    padding-top: 15px;

}
.future-forecast .forecast{
    display: flex;
    
}
.future-forecast img{
    height: 15vh;
}
.forecast .forecast-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);

}
.forecast .forecast-items img{
    height: 16vh;
}

.forecast .forecast-items .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}
.forecast .forecast-items .day1, .day2, .day3, .day4, .day5, .day6{
    font-weight: 200;
    font-size: 15px;
}
.forecast .forecast-items .n1, .n2, .n3, .n4, .n5, .n6{
    font-weight: 200;
    font-size: 15px;
}

@media only screen and (max-width:730px) {
    .body{
        background-size: cover !important;
        
    }
    .container{
        padding: 20px;
    }

    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
    .future-forecast .today{
        padding: 33px;
    }
    .future-forecast .today .others .currentD, .currentN{
        font-size: 16px;

    }
    .date-container .time{
        font-size: 50px;

    }
    .date-container #am-pm{
        font-size: 20px;
    }
    .date-container .date{
        font-size: 20px;
    }
    .place-container{
        text-align: end;
        margin-top: 15px;
    }
    .place-container .city{
        font-size: 20px;
        margin-right: 200px;
    }
    .current-info .other{
        padding: 12px;

    }
    .current-info .other .weather-items{
        font-size: 14px;
    }
    .place-container input{
        font-size: 15px;
    }
    ::placeholder{
        color: white;
    }
    .future-forecast img{
        height: 15vh;
    }
}

@media only screen and (max-width:1000px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
}